#sse1 {
    /*You can decorate the menu's container, such as adding background images through this block*/
    background-color: black;
    height: 38px;
    padding: 15px;
    border-radius: 3px;
}

#sses1 {
    margin: 0 auto 0 494px; /*This will make the menu center-aligned. Removing this line will make the menu align left.*/
}

    #sses1 ul {
        position: relative;
        list-style-type: none;
        float: left;
        padding: 0;
        margin: 0;
        top: -74px;
        left: 28px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
    width: 367px;
    height: 40px;
}

    #sses1 li {
        float: left;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-image: none;
    }
        /*CSS for background bubble*/
        #sses1 li.highlight {
            background-color: white;
            top: 36px;
            height: 2px;
            /* border-bottom:solid 1px white;*/
            z-index: 1;
            position: absolute;
            overflow: hidden;
        }

        #sses1 li a {
            height: 30px;
            padding-top: 8px;
            margin: 0 40px; /*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
            color: #fff;
            font: normal 12px arial;
            text-align: center;
            text-decoration: none;
            float: left;
            display: block;
            position: relative;
            z-index: 2;
  /*  top: 9px;
    left: 19px;*/
}

.CerrarSesionAmin {
}

.admin-title {
    color: white;
    text-align: left;
    position: relative;
    top: -14px;
    left: -15px;
}

.AdminLogOut {
    text-align: right;
    margin-left: 1146px;
    margin-top: 0px;
}
